#error-message, #success-message {
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 6px;
} 

#error-message {
  background-color: #EA859E;
}

#success-message {
  background-color: #C0C0C0;
}