

#app{
    background-image: url('https://www.hawaiimagazine.com/sites/default/files/field/image/farmrestaurants-monkeypod4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
}