body {
  background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://www.hawaiimagazine.com/sites/default/files/field/image/farmrestaurants-monkeypod4.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:100% 100%;
  background-size:cover;
}
#app{
  display: flex;
  justify-content: center;
}