.btn {
  color: white;
  border: 1px solid #EA859E;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  color: #EA859E;
}

.staff-btn {
  background-color: #444444;
}

.staff-member-navigation {
  margin-top: 20px;
}

.icon-btn:hover {
  background-color: #EA859E;
  color: white;
}