#titleContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    font-family: 'Prata', serif;
}
.titleHome{
    margin: 50px;
    font-size: 8vh;
    color: white;
    letter-spacing: 5px;
}