.btn {
  color: white;
  border: 1px solid #EA859E;
}

.btn:hover {
  color: #EA859E;
}

#menu-item-form {
  width: 75%;
  margin: auto;
}

#menuItems {
  width: 60%;
  margin: auto;
}

#listOfIngredients {
  text-align: left;
}

#menuView {
  width: 80%;
  margin:auto;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  .menu-buttons {
    font-family: 'Prata', serif;
  }
  p {
    font-family: 'Montserrat', sans-serif;
  }
  h3 {
    font-family: 'Prata', serif;
  }
}
.card-menu {
  h4{
    font-family: 'Prata', serif;
  }
  p{
    font-family: 'Montserrat', sans-serif;
  }
}
#updateMenuItemForm {
  width: 80%;
  margin:auto;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  h2{
    font-family: 'Prata', serif;
  }
  label {
    font-family: 'Prata', serif;
  }
  #updateMenuItemBtn {
    font-family: 'Prata', serif;
  }
}