.bg-light {
  background-color: transparent!important;
}
.navbar-brand, .nav-link {
  font-family: 'Prata', serif;
}
.navbar-brand {
  font-size: 35px;
}
.nav-link {
  font-size: 20px;
}
#userLink {
  font-size: 40px;
  color: white;
}
