#popularMenuItemsDiv {
  background-color: white;
  padding: 2%;
  border-radius: 2%;
  text-align: left;
}

#popularMenuItemsDiv > h3 {
  font-family: 'Prata', serif;
}

#popularMenuItemsDiv > li {
  font-family: 'Montserrat', sans-serif;
}
