.staff-member-page {
  background-color: #262626;
}

.staff-form-btn {
  margin-left: 500px;
  margin-top: 15px;
  border-radius: 5px;
}

.card-container-page {
  background-color: #262626;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-container {
  width: 250px;
  margin: 25px;
}

.card {
  display: flex;
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  justify-content: flex-end;
}

.card-btn-container {
  align-content: center;
  align-self: center;
  margin-bottom: 5px;
}

.staff-info {
    color: white;
}
