.form {
    width: 55%;
    margin: auto;
    margin-top: 50px;
    background-color: #262626;
    color: white;
    padding: 25px 50px;
    margin-bottom: 50px;
  }
  .filterStaff{
    width:100%;
  }